@mixin centerDiv {
    margin: auto;
}

@mixin parentGrid {
    display: grid;
    grid-template-columns: 20vh 40vh 20vh;
    grid-template-rows: repeat(4, 20vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

@mixin tempGrid {
    display: grid;
    grid-template-columns: repeat(4, 10vh);
    grid-template-rows: repeat(4, 10vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

$backgroundcolor1: lightblue;
$backgroundcolor2: rgb(255, 255, 255);
$layout-breakpoint-small: 960px;




body {
    //background-image: url("../imgs/cloudy.jpg");
    background: grey;
    //background: linear-gradient(90deg, rgba(168, 250, 156, 1) 0%, rgba(66, 226, 174, 1) 35%, rgba(30, 177, 226, 1) 100%);

}

.app {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 360px) {
    .app--box {
        height: 100vh;
        background: black;
    }
}

.app--box {
    @include centerDiv();
    @include parentGrid();
    background: $backgroundcolor2;
    border-radius: 1%;
    margin-top: 100px;
    width: 80vh;
    height: 80vh;
    border: 1px solid black;

}

.city {
    grid-area: 2 / 2 / 3 / 3;
    background: $backgroundcolor2;
    border: 1px solid black;
    height: 10vh;

    h1 {
        margin: auto;
        text-align: center;
        background: $backgroundcolor2;
        text-align: center;
        vertical-align: middle;
        line-height: 10vh;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.temp {
    grid-area: 2 / 2 / 4 / 3;
    @include tempGrid();
    background: $backgroundcolor2;
    border-bottom: 1px solid grey;


    .feelsLike {
        grid-area: 2 / 3 / 3 / 5;
    }

    .humidity {
        grid-area: 4 / 3 / 5 / 5;
    }

    .wind {
        grid-area: 3 / 3 / 4 / 5;
    }


    .info--span {
        margin-right: 50px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .weather--title {
        grid-area: 1 / 1 / 2 / 5;
        border-bottom: 0.5px solid grey;
        display: flex;
        height: 100%;

        h2 {
            font-size: small;
            display: inline-block;
            align-self: flex-end;
            color: grey;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    img {
        width: 10vh;
        height: 10vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        display: block;
        background: $backgroundcolor2;
        grid-area: 2 / 1 / 3 / 2;
    }

    h1 {
        text-align: center;
        background: $backgroundcolor2;
        grid-area: 2 / 2 / 3 / 3;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }

    p {
        margin-top: 20px;
        text-align: center;
        background: $backgroundcolor2;
        grid-area: 3 / 1 / 4 / 3;
        font-family: monospace;
    }
}

#logoImg {
    grid-area: 1 / 2 / 2 / 3;
    background: $backgroundcolor2;
    margin: auto;
    width: 40vh;
}

.weather--preview {
    grid-area: 4 / 2 / 5 / 3;
    background: $backgroundcolor2;
    display: grid;
    grid-template-columns: repeat(4, 10vh);
    grid-template-rows: repeat(3, 5vh);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .day-1 {
        grid-area: 1 / 1 / 5 / 3;
        display: grid;
        grid-template-columns: 6vh 8vh 6vh;
        grid-template-rows: repeat(2, 10vh);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        img {
            grid-area: 1 / 1 / 2 / 2;
            width: 6vh;
            height: 6vh;

        }

        h1 {
            grid-area: 1 / 3 / 2 / 4;
        }

        p {
            grid-area: 2 / 2 / 3 / 3;
            text-align: center;
        }
    }

    .day-2 {
        grid-area: 1 / 5 / 5 / 3;
        border-left: 2px dotted black;
        display: grid;
        grid-template-columns: 6vh 8vh 6vh;
        grid-template-rows: repeat(2, 10vh);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        img {
            grid-area: 1 / 1 / 2 / 2;
            width: 6vh;
            height: 6vh;
        }

        h1 {
            grid-area: 1 / 3 / 2 / 4;
        }

        p {
            grid-area: 2 / 2 / 3 / 3;
            text-align: center;
        }
    }
}